

<section class="sidebar-card">
  <h2>Character Spotlight</h2>

  <img
    src="/images/characters/doobie-profile-transparent.png"
    alt="Super Doobie"
    class="character-spotlight-image">
    <div class="ad-button"> 
  Meet the heroes, weirdos, and villains
  </div>
</section>

<section class="sidebar-card sidebar-card-image">
  <h2>KPOT 420 AM Radio</h2>

  <img
    src="/images/thumbnails/kpot-thumbnail.png"
    alt="KPOT 420 AM Radio">

        <div class="ad-button"> 
  Getting you higher, lower on the dial!
  </div>
</section>

<section class="sidebar-card sidebar-card-image">
  <h2>Coloring Pages!</h2>

  <img
    src="/images/games/coloring-book-card.png"
    alt="Super Doobie Coloring Pages"
  >

        <div class="ad-button"> 
  Save. Print. Color. Love.
  </div>

</section>
g
        <!-- <section class="sidebar-card">
          <h2>Advertisement</h2>
          <div class="sidebar-image-placeholder">Ad</div>
          <p>A suspiciously useful offer from the back pages.</p>
        </section> -->
