

<section class="sidebar-card comic-ad">

    <div class="ad-title">
        READ ISSUE #2
    </div>

    <div class="ad-cover">

        <img
            src="images/thumbnails/issue-2-cover-thumbnail.png"
            alt="Super Doobie Issue 2"
        >

    </div>

    <div class="ad-button">
        READ NOW!
    </div>

</section>

<section class="sidebar-card sidebar-card-image">
  <h2>PLAY BUD RUN</h2>

  <img
    src="images/games/bud-run-thumbnail.png"
    alt="Bud Run"
    class="character-spotlight-image"
  >

<div class="ad-button">
  
    Can you score some weed?
  

    </div>
</section>

        <section class="sidebar-card">

    <h2>SHOP</h2>

    <img
        src="images/components/shop.png"
        alt="Shop"
        class="character-spotlight-image">

<div class="ad-button"> 
    <h3>Limited Releases Unlimited Cool</h3>

        </div>

</section>